<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="2" name="Test">
    <classes>
      <!-- <class name="assignment1.Navigate"/> -->
      <class name="assignment2and3.TestCase">
      <methods>
      	<include name="navigateAboutUsAndVerifyTitle"/>
        <include name="navigateServicesAndVerifyTitle"/>
     </methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
